@using BlazorComponentUtilities
@using System.Text
@using Prolangle.Extensions
@using Prolangle.Languages.Framework
@using Prolangle.Services

@inject LanguageMetadataProvider MetadataProvider;

@typeparam TEnum where TEnum : System.Enum

@{
	bool any = false;
}

@foreach (TEnum flag in Enum.GetValues(typeof(TEnum)).Cast<TEnum>().Where(c => !Exclude.HasFlag(c)))
{
	if (!Value.HasFlag(flag) && !Overlap.HasFlag(flag))
		continue;

	any = true;

	var cssClassBuilder = new CssBuilder();

	if (Overlap.HasFlag(flag))
		cssClassBuilder.AddClass("overlap");

	var desc = MetadataProvider.ResolveDescription(flag);
	var moreInfoUrl = MetadataProvider.ResolveMoreInfoUrl(flag);

	var style = "";
	if (!string.IsNullOrWhiteSpace(desc))
	{
		cssClassBuilder.AddClass("popover-available-hint");
		style = "cursor: help";
	}

	string flagName = flag.GetDisplayName() ?? flag.ToString();

	<ExplanationPopover Content="@desc" Title="@flagName" Url="@moreInfoUrl" class="@cssClassBuilder.Build()">
		<span style="@style">@flagName</span>
	</ExplanationPopover>
}

@if (!any)
{
	<span>N/A</span>
}

@code {

	[Parameter]
	public required TEnum Overlap { get; set; }

	[Parameter]
	public required TEnum Value { get; set; }

	[Parameter]
	public required TEnum Exclude { get; set; }

}
