@page "/explanations"

@using Prolangle.Languages.Framework
@using Prolangle.Components

@code {
	private List<ExplanationSection> Sections { get; } = [];
}

@inject NavigationManager NavigationManager

<Heading Size="HeadingSize.Is3">Explanations</Heading>

<Paragraph>
	This page contains explanations of the various syntax styles and type systems different programming languages use.
</Paragraph>

<hr/>

<CascadingValue Value="this" IsFixed>
	<LayoutContent>
		<Container>
			<Row>
				<Column ColumnSize="ColumnSize.Is2">
					<Toc Sections="@Sections" @ref="_toc" PageUrl="/explanations"/>
				</Column>

				<Column ColumnSize="ColumnSize.Is10">
					<Div>
						<ExplanationSection IsFirst="true" Size="HeadingSize.Is4" Id="applications">Known for building / Applications</ExplanationSection>

						@foreach (Applications application in Enum.GetValues<Applications>()
							          .Except([Applications.None, Applications.Other])
							          .OrderBy(t => t.ToString()))
						{
							<ExplanationBodyText Value="@application"/>
						}

						<ExplanationSection Size="HeadingSize.Is4" Id="syntax-styles">Syntax styles</ExplanationSection>

						@foreach (SyntaxStyle syntaxStyle in Enum.GetValues<SyntaxStyle>()
							          .Except([SyntaxStyle.None, SyntaxStyle.Other])
							          .OrderBy(t => t.ToString()))
						{
							<ExplanationBodyText Value="@syntaxStyle"/>
						}

						<ExplanationSection Size="HeadingSize.Is4" Id="type-systems">Type systems</ExplanationSection>

						@foreach (TypeSystem typeSystem in Enum.GetValues<TypeSystem>()
							          .Except([TypeSystem.None, TypeSystem.Other])
							          .OrderBy(t => t.ToString()))
						{
							<ExplanationBodyText Value="@typeSystem"/>
						}

						<ExplanationSection Size="HeadingSize.Is4" Id="paradigms">Paradigms</ExplanationSection>

						@foreach (Paradigms paradigm in Enum.GetValues<Paradigms>()
							          .Except([Paradigms.None])
							          .OrderBy(t => t.ToString()))
						{
							<ExplanationBodyText Value="@paradigm"/>
						}
					</Div>
				</Column>
			</Row>
		</Container>
	</LayoutContent>
</CascadingValue>
